flows (2).json
[{"id":"de0ee8a2.68cd48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"67071502.74ab5c","type":"inject","z":"de0ee8a2.68cd48","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":57,"y":50,"wires":[["87201a26.abc6f8"]]},{"id":"9d0aea28.1cbcc8","type":"debug","z":"de0ee8a2.68cd48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":587,"y":101,"wires":[]},{"id":"3299c121.a2e06e","type":"http request","z":"de0ee8a2.68cd48","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3//identity/token","tls":"","proxy":"","authType":"basic","x":259,"y":262,"wires":[["c8d413ce.e6ef6","9d0aea28.1cbcc8"]]},{"id":"d2c8ad0f.4bdf7","type":"http request","z":"de0ee8a2.68cd48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a48555dc-074f-495e-8d05-3f621ebbe033/deployments/596b859c-8388-455a-99a3-b003f0dea644/online","tls":"","proxy":"","authType":"basic","x":438,"y":427,"wires":[["6eea3642.cd4688"]]},{"id":"87201a26.abc6f8","type":"function","z":"de0ee8a2.68cd48","name":"Token generator","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"4eac093d-5689-4ef5-8a04-29337a2adb36\"\nvar password=\"e01d6d80-0fc7-4f5c-8f1b-65ff65e6ff36\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"gre\",msg.payload.gre)\nglobal.set(\"tofel\",msg.payload.tofel)\nglobal.set(\"ur\",msg.payload.ur)\nglobal.set(\"sop\",msg.payload.sop)\nglobal.set(\"lor\",msg.payload.lor)\nglobal.set(\"cgpa\",msg.payload.cgpa)\nglobal.set(\"rs\",msg.payload.rs)\nreturn msg;","outputs":1,"noerr":0,"x":141.5,"y":137,"wires":[["3299c121.a2e06e"]]},{"id":"c8d413ce.e6ef6","type":"function","z":"de0ee8a2.68cd48","name":"Prediction","func":"var token=msg.payload.token;\nvar gre=global.get(\"gre\");\nvar tofel=global.get(\"tofel\");\nvar ur=global.get(\"ur\");\nvar sop=global.get(\"sop\");\nvar lor=global.get(\"lor\");\nvar cgpa=global.get(\"cgpa\");\nvar rs=global.get(\"rs\");\nmsg.payload={\"fields\":[\"GRE Score\",\"TOEFL Score\",\"University Rating\",\"SOP\",\"LOR\",\"CGPA\",\"Research\"],\"values\":[[gre,tofel,ur,sop,lor,cgpa,rs]]};\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":294.5,"y":374,"wires":[["d2c8ad0f.4bdf7"]]},{"id":"6eea3642.cd4688","type":"function","z":"de0ee8a2.68cd48","name":"O/P parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":552.5,"y":270,"wires":[["cb48e40e.93abd8","9d0aea28.1cbcc8","86873b59.fe0698"]]},{"id":"3578da64.7a1306","type":"ui_form","z":"de0ee8a2.68cd48","name":"","label":"","group":"969089b0.54b248","order":0,"width":0,"height":0,"options":[{"label":"GRE score","value":"gre","type":"number","required":true},{"label":"TOEFL score","value":"tofel","type":"number","required":true},{"label":"University Rating","value":"ur","type":"number","required":true},{"label":"SOP","value":"sop","type":"number","required":true},{"label":"LOR","value":"lor","type":"number","required":true},{"label":"CGPA","value":"cgpa","type":"number","required":true},{"label":"Research","value":"rs","type":"number","required":true}],"formValue":{"gre":"","tofel":"","ur":"","sop":"","lor":"","cgpa":"","rs":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55.5,"y":253,"wires":[["87201a26.abc6f8"]]},{"id":"cb48e40e.93abd8","type":"ui_text","z":"de0ee8a2.68cd48","group":"969089b0.54b248","order":1,"width":0,"height":0,"name":"","label":"Chance of Admit:","format":"{{msg.payload}}","layout":"row-spread","x":734,"y":374,"wires":[]},{"id":"86873b59.fe0698","type":"ui_gauge","z":"de0ee8a2.68cd48","name":"","group":"969089b0.54b248","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":752.5,"y":200,"wires":[]},{"id":"969089b0.54b248","type":"ui_group","z":"","name":"predict","tab":"a59afe41.12f62","disp":true,"width":"6","collapse":false},{"id":"a59afe41.12f62","type":"ui_tab","z":"","name":"home","icon":"dashboard","disabled":false,"hidden":false}]